* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-image: url(img/your_verse_hero.jpg);
    background-position: bottom;
    background-size: cover;
    height: 80vh;
    width: 100%;
}
main nav {
    display: flex;
    justify-content: center;
    padding: 58px;
}
main nav ul {
    display: flex;
    list-style: none;
    border: 1px solid grey;
    border-radius: 10px;
    background-image: linear-gradient(grey, rgb(219, 213, 213), grey);
}
main nav ul li {
    padding: 10px 30px;
    border-left: 1px solid rgb(95, 92, 92);
}
main nav ul li#first-list {
    border: none;
}
main nav ul li:hover {
    background-image: linear-gradient(rgb(26, 25, 25), grey, rgb(26, 25, 25));
}
main nav ul li a {
    text-decoration: none;
    color: #fff;
}
